.more-info
    width: 100%
    opacity: 0
    transition: 0.7s
    animation: more-info--out 0.7s forwards
    &--active
        animation: more-info 0.7s forwards
        height: 0
        opacity: 1
        transition: 0.7s
        padding: 15px
        padding-top: 30px
        flex-direction: column
        justify-content: space-between
        .more-info__text-container
            display: flex
            flex-direction: column
            gap: 10px
            font-family: 'Poppins'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 20px
            color: #FFFFFF
        .more-info__icon-container
            display: flex
            flex-direction: column
            gap: 20px
        .more-info__icon-list
            display: flex
            gap: 15px

@keyframes more-info
    from
        height: 0
    to
        height: 450px

@keyframes more-info--out
    from
        height: 450px
    to
        height: 0
