.side-menu
    position: relative
    padding: 18px 40px
    box-sizing: border-box
    transition: 0.5s
    max-width: 20vw
    width: fit-content
    transition: 0.5s
    left: 0
    z-index: 99998
    @include tablet
        display: none
    &::before
        @include defaul-pseudo-element(1px, 80%)
        right: 0
        background: #FFFFFF
        opacity: 0.1
        top: 10%
        transition: 0.5s
    @media (max-width: 1670px )
        padding: 18px 20px
        &--closed
            padding: 18px 30px
        & + .main-content__wrapper--right
            & .partners-worker-cabinet__statistic-title
                transition: 0.5s
                font-size: 22px
                line-height: 26px
    @media (max-width: 1430px )
        padding: 18px 15px
        &--closed
            padding: 18px 25px
    @media (max-width: 1360px )
        padding: 18px 15px
        &--closed
            padding: 18px 25px
        & + .main-content__wrapper--right
            & .partners-worker-cabinet__statistic-title
                font-size: 18px
                line-height: 22px
    @media (max-width: 1250px ) and (min-width: 1201px)
        padding: 18px 20px
        & + .main-content__wrapper--right
            & .partners-worker-cabinet__statistic-title
                font-size: 14px
                line-height: 20px
                transition: 0.5s
            & .partners-worker-cabinet__statistic-icon
                width: 35px
                transition: 0.5s

    &--closed
        position: relative
        left: 0px
        transition: 0.5s
        max-width: 0
        min-height: 100%
        &::before
            right: 0px
            transition: 0.5s
        & .side-menu__link
            animation: link-out 0.27s forwards
            transition: 0.5s
        & .side-menu__button
            transition: 0.5s
        & .side-menu__item-more
            display: none
            transition: 0.5s
        & + .main-content__wrapper--right
            transition: 0.5s
        & .side-menu__item
            width: 35px
            height: 35px
            left: -25px
            transition: 0.5s
            &-wrapper
                &::before
                    @media(max-width: 1600px)
                        left: -25px
                    @media(max-width: 1440px)
                        left: -15px
        @media (max-width: 1670px )
            & + .main-content__wrapper--right
                & .partners-worker-cabinet__statistic-title
                    transition: 0.5s
                    font-size: 25px
                    line-height: 30px
        @media (max-width: 1360px )
            & + .main-content__wrapper--right
                & .partners-worker-cabinet__statistic-title
                    font-size: 20px
                    line-height: 25px
        @media (max-width: 1250px ) and (min-width: 1201px)
            & + .main-content__wrapper--right
                & .partners-worker-cabinet__statistic-title
                    font-size: 18px
                    line-height: 22px

@keyframes link-out
    30%
        font-size: 9px
        line-height: 14px
    100%
        font-size: 0px
        line-height: 0px

.side-menu__button
    position: absolute
    width: 20px
    height: 20px
    background: #00E0FF
    @include centering-height-absolute-element()
    right: -10px
    border-radius: 50%
    background: url(../img/side-menu-button.svg) no-repeat center center
    background-size: cover
    cursor: pointer
    border: none
    transition: 0.5s
    &--active
        transition: 0.5s
        top: calc(50% - 10px)
        transform: rotate(180deg)

.side-menu__list
    display: flex
    flex-direction: column
    gap: 40px

.side-menu__item
    padding-left: 45px
    width: 100%
    position: relative
    display: flex
    flex-direction: column
    transition: 0.5s

    @media(max-width: 1600px)
        padding-left: 30px
    @media(max-width: 1441px)
        padding-left: 25px

    &-wrapper
        display: flex
        position: relative
        &::before
            @include defaul-pseudo-element(25px, 25px)
            left: -35px
            background-position: center center
            background-size: cover
            transition: 0.5s
            background-repeat: no-repeat
            @include centering-height-absolute-element()
            cursor: pointer
            @media(max-width: 1430px)
                left: -30px

    &--active
        & .side-menu__link
            transition: 0.5s
            color: #00E0FF

    &--dashboard.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/space_dashboard_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--analytics.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/leaderboard_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--workers.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/storage_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--api-workers.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/storage_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--users.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/group_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--billing.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/paid_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--prices.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/sell_FILL1_wght700_GRAD200_opsz48 1.svg")
    &--support.side-menu__item .side-menu__item-wrapper::before
        background-image: url("../img/contact_support_FILL1_wght700_GRAD200_opsz48 1.svg")

.side-menu__item-more
    right: 0
    width: 20px
    border: none
    height: 20px
    cursor: pointer
    position: absolute
    background-size: cover
    @include centering-height-absolute-element()
    background: url(../img/more-button.svg) no-repeat center center
    transition: 0.5s
    &:hover
        transition: 0.5s
        scale: 1.5

@keyframes link-in
    0%
        font-size: 0px
        line-height: 0px
    100%
        font-size: 18px
        line-height: 35px

@keyframes link-in--1600
    0%
        font-size: 0px
        line-height: 0px
    100%
        font-size: 16px
        line-height: 30px

@keyframes link-in--1491
    0%
        font-size: 0px
        line-height: 0px
    100%
        font-size: 12px
        line-height: 25px

.side-menu__link
    font-family: 'Kharkiv Tone'
    font-style: normal
    font-weight: 400
    color: #FFFFFF
    text-decoration: none
    transition: .5s
    position: relative
    margin-right: auto
    animation: link-in 0.27s forwards
    &::after
        @include defaul-pseudo-element(0, 1px)
        right: 50%
        background-color: #00E0FF
        bottom: -4px
        transition: .5s
    &:hover
        color: #00E0FF
        transition: .5s
        &::after
            width: 100%
            right: 0
            transition: .5s
    @media (max-width: 1600px )
        animation: link-in--1600 0.27s forwards
    @media (max-width: 1491px )
        animation: link-in--1491 0.27s forwards

.side-menu__logo
    margin-bottom: 60px
    width: 100%
    transition: .5s

.open-more__button
    &:hover
        &::before
            background-image: url(../img/open-more--hover.svg) !important
            transition: 0.5s
